{% extends 'base.html.twig' %}

{% block body %}
    {% if titre == 'Noslug' %}
        <h1>Aucune série sélectionnée, veuillez choisir une série</h1>
        {% else %}
         <h1>{{ titre }}</h1>
    {% endif %}
{% endblock %}
